<%- include('../partials/header') %>
<body>
  <nav>
  <a href="/flights/new/">Add New Flight</a>
  <a href="/tickets/new">Add Ticket</a>
  <a href="/flights">Back to all Flights</a>
  <img src="/images/Aeroplane5.svg">
  </nav>
  <h1>Ticket List</h1>
  
  <table>
    <thead>
      <tr>
        <th>Ticket</th>
        <th>Price</th>
        <th>Delete Ticket</th>
      </tr>
    </thead>
    <tbody>
        <br> 
        <% tickets.forEach(function(t) { %>
        <tr>
          <td><%= t.seat %></td>
          <td><%= t.price %></td>
          <td>
            <form id="delete-ticket-form" method="POST"
            action="/tickets/<%= t._id %>">
                <input type="submit" value="X">
            </form>
        </td>
        </tr> 
          <% }); %> 
     </tbody>
  </table>
</body>
</html>