<%- include('../partials/header') %>
<body>
    <nav>    
        <a href="/flights/new" <%- title === 'Add Flight' %>>Add Flight</a>
        <a href="/flights" <%- title === 'All Flights' %>>All Flights</a>
        <a href="/tickets">Tickets</a>
        <img src="/images/Aeroplane5.svg">
    </nav>
<h1>Add New Ticket</h1>
<h6>Please Make Sure Ticket Is Not Already In Use
  <select>
    <% tickets.forEach(function(t) { %>
      <option><%= t.seat %></option>
    <% }) %>
  </select>
</h6>
<br>
<form id="add-ticket" action="/tickets" method="POST">
  <label>Seat:</label>
  <input type="text" name="seat">
  <br>
  <br>
  <label>Price:</label>
  <input type="number" name="price" id='ticket-input'>
  <br>
  <br>
  <input type="submit" value="Add Ticket" id='ticket-btn' >
</form>
<br>
<h6>*Seat value must begin with A, B, C, D, E, or F and have avalue of 1-99</h6>

</body>
</html>
