<!DOCTYPE html>
<html>
  <head>
    <title>Flights Landing Psge</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Flights</h1>
    <a href="/flights/"">All Flights</a>
    <a href="/flights/new/"">Add New Flight</a>
  </body>
</html>











