body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  border-color: rosybrown;
}

a {
  /* color: #00B7FF; */
  color: rosybrown;
  display: inline;
  padding-right: 30px;
}
h6 {
  color: red;
}
nav {
font-size: small;
color: green;
padding: 5px;
margin: auto, 100px;
font-style: italic;
background-image: linear-gradient(to right, rgba(211, 211, 211, 0.463), lightgray);
padding-bottom: 10px ;

}
h1{
  font-family: 'Crimson Text', serif;
}

th{
  font-family: 'Crimson Text', serif;
  display: inline;
  padding-right: 30px;
  padding-left: 20px;
}
td{
  font-family: 'Crimson Text', serif;
  display: inline-block;
  padding-right: 30px;
  padding-left: 20px;
}
option{
  font-family: 'Crimson Text', serif;
  padding-right: 30px;
}
label{
  font-family: 'Crimson Text', serif;
  font-size: medium;
}
select{
  font-family: 'Crimson Text', serif;
  margin-left: 20px;
}
input{
  margin-left: 20px;
}
#ticket-input{
  margin-left: 14px;
}
#ticket-btn{
margin: auto;
}
#flight-btn{
  margin: auto;
}
img{
  display: block;
  float: right;
  height: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/* #add-destination-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#add-destination-form input[type="submit"] {
  width: 8rem;
  grid-column: 2 / 3;
  margin-bottom: 2rem;
} */

/* 
#show-page {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 2px 2px; 
    grid-template-areas: 
      "airline airport flightNo departsDate"
      "lineName portName flightNoVal departs"; 
}
  .airline { grid-area: airline; }
  .lineName { grid-area: lineName; }
  .airport { grid-area: airport; }
  .portName { grid-area: portName; }
  .flightNo { grid-area: flightNo; }
  .flightNoVal { grid-area: flightNoVal; }
  .departsDate { grid-area: departsDate; }
  .departs { grid-area: departs; } */